/* exo.css 檔案內容 */

/*exo banner*/
.sub-banner{
    padding-top:100px;
}


/*外泌體*/
.main-pic.beauty{
    margin-top:-200px;
}

.main-pic.product{
    margin-top:-200px;
    overflow:hidden;
}
.exo-product-title{
    width:100%;
    height: auto;
    color:#E4058F;
    float:left;
}
.exo-product-title>span.number{
    font-size:70px;
    font-family: 'Molengo';
}
.exo-product-title>span.word{
    font-size:30px;
}
.tittle-sigh-block.exo-product{
    margin-bottom:0px;
}

.exo-product-sub{
    width:100%;
    height: auto;
    color:#999999;
    float:left;
    margin:20px 0;
}
.exo-product-sub>span{
    width:100%;
    height: auto;
    color:#999999;
    float:left;
}
.main-exo-block>.product_cream_woman{
    width:100%;
    float:right;
    margin-top:-50px;
}
.main-exo-block>.product_cream{
    width: 300px;
    position: absolute;
    margin-top: -420px;
    margin-left: -250px;
}
.main-exo-block>.product_serum_woman{
    width:70%;
    float:right;
    margin-top:-50px;
    margin-right:100px;
}
.main-exo-block>.product_serum{
    width: 300px;
    position: absolute;
    margin-top: 200px;
    margin-left: -250px;
}
.exo_product_block{
    margin-top:120px !important;
}
.main-exo-block.hair{
    overflow:hidden;
}

.main-exo-block>.product_hair_woman{
    width:150%;
    float:right;
}
.main-exo-block>.product_hair{
    width: 300px;
    position: absolute;
    margin-top: 200px;
    margin-left: -250px;
}
