/* style.css 檔案內容 */


/*Popup*/
.popup-block{
    width:100%;
    height: 100vh;
    float:left;
    z-index: 99999;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0px; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#DealerPopup.show {
    display:block;
    opacity: 1;
}


.popup-block-dealer{
    width:100%;
    height: 100vh;
    float:left;
    overflow: hidden;
    position: fixed;
    top: 0px; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 99988;
    background-color:rgba(0,0,0,0.6);
    display:none;
    opacity:0;
    
}

.popup-block-dealer > div{
    width: 954px;
    height: auto;
    display:block;
    margin:0 auto;
    
}
.popup-block-dealer > div >.popup-dealer{
    width: auto;
    height: auto;
    float:left;
    position: relative;
    transform:translateY(-50%);
    top:50%;
    z-index: 99989;
}
.popup-dealer-cancel{
    width:auto;
    height:auto;
    float:left;
    margin-left:15px;
    position: relative;
    transform:translateY(-850%);
    top:50%;
    z-index: 99989;
    cursor: pointer;
}
/*Banner*/
.banner{
    width: 100%;
    height: auto;
    float: left;
    margin-top:130px;
}

.swiper-pagination.color{
    margin-top: -10px;
    position: relative;
}
:root{
    --swiper-theme-color:#F6BDC0!important;
}
.pc-banner{
    display:block;
}
.mobile-banner{
    display:none;
}

/*區塊內文*/
.gray-bg{
    background-color:#FBFBFB;
}

     /*理念*/
.text-block{
    width: 40%;
    height:auto;
    float: left;
}
.pic-block{
    width: 60%;
    height: auto;
    float: left;
}
.tittle-sigh-block{
    width:100%;
    height: auto;
    float: left;
    margin-bottom: 40px;

}
.title-sign-bg{
    width: auto;
    height:20px;
    float: left;
    padding:10px 15px;
    background:linear-gradient(90deg, #CEB8D7 0%, #F5BDC1 100%) no-repeat;
    border-radius: 50px;
}
.title-sign-bg > .circle{
    width:14px;
    height: 14px;
    float:left;
    border-radius:50px;
    background-color:#fff;
    margin:3px 10px 3px 0px;
}
.title-sign-bg > .text{
    width: auto;
    height: auto;
    line-height: 20px;
    float: left;
    color: #FFF;
}
.main-text{
    width: 100%;
    height: auto;
    float: left;
    line-height: 1.8em;
}
.main-slogon{
    width: 100%;
    height: auto;
    float: right;
    font-family: 'PostNoBillsJaffnaExtraBold';
    font-weight: 800;
    font-size: 250px;
    letter-spacing: 0.01em;
    -webkit-text-stroke: 1px #999;
    text-stroke: 1px #999;
    color: transparent;
    line-height: 210px;
    overflow: hidden;
    text-align: right;
    
}
.main-slogon.gray{
    -webkit-text-stroke: 1px #666;
    text-stroke:1px solid #666;
    
}
.main-pic{
    width: 100%;
    height: auto;
    float: right;
    margin-top: -100px;
}


    /*項目*/
.main-item-block{
    width: 100%;
    height: auto;
    float: right;
    margin-top: -100px;
}
.main-item{
    width:95%;
    height: auto;
    float: right;
}
.main-item>a{
    width:calc(48% - 20px);
    height: 95px;
    float: left;
    padding:10px;
    margin-bottom:2%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 15px;
    border: 1px solid #F4BDC1;
    background-color:white;
}
.main-item>a:hover{
    background: linear-gradient(180deg, #CFB9D7 0%, #F4BDC1 100%);
}
.main-item>a:hover>.main-item-text>.title{
   color:white;
}
.main-item>a:hover>.main-item-text>.subtitle{
   color:white;
}
.main-item>a:hover>.main-item-text>.text{
   color:white;
}
.main-item>a:nth-child(odd){
    margin-right:2%;
}


.main-item-pic{
    width:calc(34% - 10px);
    height:auto;
    float:left;
}
.main-item-text{
    width:calc(66% - 10px);
    height:auto;
    float:left;
    margin-left:20px;

}
.main-item-text>.title{
    width:100%;
    height: auto;
    float:left;
    font-size:18px;
    margin-bottom:5px;
    color:#333;
    font-weight:bolder;
}
.main-item-text>.subtitle{
    width:100%;
    height:auto;
    float:left;
    font-size:12px;
    color:#666666;
    margin-bottom:10px;
}
.main-item-text>.text{
    width:100%;
    height:auto;
    float:left;
    font-size:12px;
    color:#999999;
}

















     /*外泌體*/
.main-exo-bg{
    background-image:url("../img/index_exosome_bg.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.main-exo-block{
    width: 100%;
    height: auto;
    float: right;
    margin-top: -100px;
}
.main-exo-block>.woman{
    width: 70%;
    float:right;
    margin-top: -50px;
}
.main-exo-block>.set{
    width: 496px;
    position:absolute;
    margin-top:210px;
    margin-left:-180px;

}

    /*證照*/
.main-pic.cert{
    width:720px;
    height: 431px;
    overflow:hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    display:flex;
}
.cert-list{
    left: 0px;
    display:flex;
    position: absolute;
}
.cert-pic{
    width:223px;
    height: 431px;
    margin-right:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




    /*回饋*/
.main-feedback-block{
    width: 100%;
    height: auto;
    float: right;
    margin-top: -200px;
}
.main-feedback-block>.woman{
    width: 70%;
    float:right;
    margin-top: -50px;
    position: relative;
    z-index: 2;
}
.main-feedback-block>.phone{
    width: 672px;
    height: 406px;
    position:absolute;
    margin-top:215px;
    margin-left:-180px;
    background-image:url('../img/index_feedback_phone.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.main-feedback-case-block{
    width: 543px;
    height: 246px;
    display:block;
    margin: 160px auto 0 auto;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}
.main-feedback-block>.phone .case{
    width: 100%;
    height: auto;
    float:left;
    margin-bottom:20px;
    animation: verticalScroll 25s infinite linear; /* 設定動畫名稱、時長、重複次數、速度曲線 */
}

@keyframes verticalScroll {
      0% {
        transform: translateY(0); /* 起始位置 */
      }
      100% {
        transform: translateY(-1000%); /* 結束位置，移動到內容的頂部 */
      }
    }

    /*血庫*/
.main-bloodbanks-map{
    width:135%;
    height: auto;
    float: right;
    margin-top:-20px;
}




