/* layout.css 檔案內容 */


/*共用*/

/*Font*/
@font-face {
        font-family: 'PostNoBillsJaffnaExtraBold'; /* 你自定义的字体名称 */
        src: url('../font/PostNoBillsJaffna-ExtraBold.ttf') format('truetype'); /* TTF文件的相对路径 */
}

@font-face{
        font-family:'Molengo';
        src: url('../font/Molengo-Regular.ttf') format('truetype');
}

body{
    margin: 0 0;
    padding: 0 0;
    font-size: 18px;
    font-family:sans-serif;
    color: #666666;
    letter-spacing:0.1em;
}
a{
    font-size: 18px;
    font-family:sans-serif;
    color: #666666;
    text-decoration: none;
    
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.out{
    width: 100%;
    height: auto;
    float: left;
}

.block{
    width:1200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.out.main-block-set{
    margin-top:60px;
}
.block.main-block-set{
    padding:40px 0;
}

/*Line*/
.line-out{
    width: 90px;
    height: 90px;
    position: fixed;
    right:30px;
    top: 80%;
    background-color:#45B873;
    border-radius: 100px;
    z-index:9999;
}
.line-out:hover{
   width: 320px;
   transition: all 0.1s;
}
.line-out:hover .line-text-out{
   display: inline-block;
}

.line-out > img{
    width: 90px;
   float: right;
}

.line-text-out{
    width:auto;
    height: auto;
    float: left;
    display: none;
    padding: 5px 0px 5px 24px;
}


.line-name{
    width:100%;
    height: auto;
    color:#fff;
}
.line-text{
    width:100%;
    height: auto;
    color:#fff;
    font-size: 14px;
    line-height: 18px;
}



/*header*/
.header-out{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    background-color: rgba(255 ,255, 255, 0.85);

    z-index:9999;
    padding:10px 0;
}

.header-out > div{
    width:1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    line-height:40px;
}

/*Header*/
.header-logo{
    max-width:262.64px;
    height:auto;
    float: left;
    margin-top: 15px;
}
.header-menu{
    width:auto;
    height: auto;
    float: right;
    line-height:40px;
    padding:15px 10px;
}

.header-menu>a:hover{
    color: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}
.header-menu a.active{
    color: #333;
}

.header-drop-menu{
    display:none;
}
.header-drop-menu>a{
    display:block;
    font-size:16px;
    line-height:36px;
    text-align:center;
}
.header-drop-menu>a:nth-child(1){
    padding-top:10px;
}
.header-drop-menu>a:hover{
    color: #333;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header-drop-menu>a.active{
    color: #333;
}

.header-menu>a:hover>.header-drop-menu{
    display:block;
}


.header-mobile-block{
    width:25px;
    height:auto;
    float:right;
    position: relative;
    transform:translateY(80%);
    top:50%;
    cursor: pointer;
    display:none;
}
.header-mobile-block>span{
    width:100%;
    height:4px;
    margin-bottom:5px;
    float:left; 
    border-radius:500px;
    background-color:#666666;
}

.header-mobile-drop-block{display:none;}
#header-close{
    display:none;
}

/*Footer*/
.footer{
    margin-top:150px;
}
.footer-cert{
    max-width:735px;
    height: auto;
    display: block;
    margin:0 auto;
}
.footer-social{
    width:100%;
    height:auto;
    display: block;
    margin-top:20px;
    background-color:#F8F8F8;
}
.footer-social-main{
    width:238px;
    height:46px;
    display:block;
    margin:0 auto;
    padding:10px 0;
}

.footer-social a{
    width: 46px;
    height: 46px;
    display:inline-block;
    margin-right:10px;
}
.footer-social a:nth-child(1){
    background-image: url('../img/footer_fb.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.footer-social a:nth-child(1):hover{
    background-image: url('../img/footer_fb_hover.png');
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-social a:nth-child(2){
    background-image: url('../img/footer_ig.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.footer-social a:nth-child(2):hover{
    background-image: url('../img/footer_ig_hover.png');
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-social a:nth-child(3){
    background-image: url('../img/footer_yt.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.footer-social a:nth-child(3):hover{
    background-image: url('../img/footer_yt_hover.png');
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-social a:nth-child(4){
    background-image: url('../img/footer_line.png');
    background-repeat:no-repeat;
    background-size:cover;
}
.footer-social a:nth-child(4):hover{
    background-image: url('../img/footer_line_hover.png');
    background-repeat:no-repeat;
    background-size:cover;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-social a:nth-last-child(1){
    margin-right:0px;
}
.footer-copy-right{
    width: auto;
    height:auto;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
}



/*More Btn*/
.more_btn{
    width:auto;
    height:auto;
    float:left;
    border-radius:500px;
    text-align:center;
    line-height: 18px;
    color:white;
    font-size:18px;
    letter-spacing:0.1em;
    padding:10px 25px;
    border:0px;
    background:url(../img/more_btn_bg.png) no-repeat;
    background-size:cover;
    margin-top:40px; 
    margin-right:20px;
}
.more_btn:hover{
    background:url(../img/more_btn_hover_bg.png) no-repeat;
    background-size:cover;
    transition:all 0.3s;
    color:#CA6D89;
}











